<div class="container">
    <h1 class="text-center my-5">
        Recomendaciones y protocolos sanitarios para las vacaciones
    </h1>

    <div class="panel-pane pane-atajos">
        <div class="pane-content">
            <div class="row panels-row mt-2 ">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="/ola_de_calor" class="panel panel-default panel-icon panel-lavanda">
                        <div class="panel-heading icon-fix">
                            <%=fa_icon "thermometer-empty"%>
                        </div>
                        <div class="panel-body">
                            <h3>Olas de calor</h3>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="/protegete_del_sol" class="panel panel-default panel-icon panel-naranja">
                        <div class="panel-heading icon-fix">
                            <%=fa_icon "sun-o"%>
                        </div>
                        <div class="panel-body">
                            <h3>Protegete del sol</h3>
                        </div>
                    </a>
                </div>
                <div div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="/alimentacion_segura" class="panel panel-default panel-icon panel-verde-cemento">
                        <div class="panel-heading icon-fix">
                            <%=fa_icon "cutlery"%>
                        </div>
                        <div class="panel-body">
                            <h3>Alimentación segura</h3>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="/prevencion_de_accidentes" class="panel panel-default panel-icon panel-violeta-rojo">
                        <div class="panel-heading icon-fix">
                            <%=fa_icon "car"%>
                        </div>
                        <div class="panel-body">
                            <h3>Prevención de accidentes</h3>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="/prevencion_suhyed" class="panel panel-default panel-icon panel-oscuro-khaki">
                        <div class="panel-heading icon-fix">
                            <%=fa_icon "heartbeat"%>
                        </div>
                        <div class="panel-body">
                            <h3>Prevención del Síndrome Hurémico Hemolítico y enfermedades diarreicas</h3>
                        </div>
                    </a>
                </div>
                <div div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="/hidratacion_agua_segura" class="panel panel-default panel-icon panel-oscuro-cyan">
                        <div class="panel-heading icon-fix">
                            <%=fa_icon "tint"%>
                        </div>
                        <div class="panel-body">
                            <h3>Hidratación adecuada y consumo de agua segura</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>