<div class="container my-5">
  <div class="row">
    <%= render "nav_buttons"%>
    <div class="offset-md-2 col-md-8 mb-4">
      <div class="panel-pane pane-alerta">
        <div class="pane-content">
          <div class="alert alert-info" role="alert">
            <div class="media">
              <div class="media-body">
                <h4><strong>VIH no es igual a sida</strong></h4>
                <div class="margin-0">
                  <p>El VIH es el virus de inmunodeficiencia humana que sin tratamiento adecuado puede generar el síndrome de inmunodeficiencia adquirida, conocido como sida.</p>
                  <p>Un diagnóstico temprano permite iniciar el tratamiento para controlar la infección y evitar el desarrollo del sida.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-4">
      <hr>
      <div class="panel-pane pane-texto">
        <div class="pane-content">
          <div class="">
            <h2 class="mb-5">¿Sabías que en Argentina?</h2>
            <div class="row row-flex m-b-1">
              <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                <div class="panel panel-default mb-0">
                  <div class="panel-body">
                    <div class="h2 text-primary"> 140mil <small></small></div>
                    <p class="lead" style="min-height: 72px;">personas viven con VIH</p>
                    <p class="text-muted"></p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                <div class="panel panel-default mb-0">
                  <div class="panel-body">
                    <div class="h2 text-primary"> 17% <small></small></div>
                    <p class="lead" style="min-height: 72px;">no conoce su diagnóstico</p>
                    <p class="text-muted"></p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                <div class="panel panel-default mb-0">
                  <div class="panel-body">
                    <div class="h2 text-primary"> 29,9% <small></small></div>
                    <p class="lead" style="min-height: 72px;">se diagnosticaron en un estadío avanzado de la infección</p>
                    <p class="text-muted"></p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                <div class="panel panel-default mb-0">
                  <div class="panel-body">
                    <div class="h2 text-primary"> 65mil <small></small></div>
                    <p class="lead" style="min-height: 72px;">reciben tratamiento antirretroviral</p>
                    <p class="text-muted"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h2 class="mb-5">Lugares de testeos VIH</h2>
        </div>
        <div class="col-md-6">
          <h3 class="mb-3 text-primary">Trelew</h3>
          <strong>Servicio de Adolescencia (CESIA)</strong><br>
          <strong><%=fa_icon "phone"%></strong> 280 4426773 <br>
          <strong><%=fa_icon "map-marker", class:"mr-1"%></strong> Moreno N° 440, Trelew
          <div class="mb-3"></div>
          <strong>Servicio de Prevalentes, Hospital Zonal Trelew</strong><br>
          <strong><%=fa_icon "phone"%></strong> 280 4424689 <br>
          <strong><%=fa_icon "map-marker", class:"mr-1"%></strong> Italia y pasaje Santiago del Estero, Trelew<br>
          <div class="mb-3"></div>
          <strong>Laboratorio Bacteriologia, Hospital Zonal Trelew, Dr Adolfo Margara</strong><br>
          <strong><%=fa_icon "phone"%></strong> 280 4427542 / 4421715 / 4426118 - interno 120 <br>
          <strong><%=fa_icon "map-marker", class:"mr-1"%></strong> 28 de Julio N° 434
          
        </div>
        <div class="col-md-6">
          <h3 class="mb-3 text-primary">Esquel</h3>
          <strong>Servicio de Adolescencia (CESIA)</strong><br>
          <strong><%=fa_icon "phone"%></strong> 2945 451230<br>
          <strong><%=fa_icon "map-marker", class:"mr-1"%></strong> Fontana y Don Bosco, Esquel
          <div class="mb-3"></div>
          <strong>Laboratorio Central Hospital Zonal Esquel</strong><br>
          <strong><%=fa_icon "phone"%></strong> 2945 450222 <br>
          <strong><%=fa_icon "map-marker", class:"mr-1"%></strong> 25 de Mayo N° 150, Esquel
          <div class="mb-3"></div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <h3 class="mb-3 text-primary">Comodoro Rivadavia</h3>
          <strong>Fundación Convivir</strong><br>
          <strong><%=fa_icon "phone"%></strong> 297 4009273 <br>
          <strong><%=fa_icon "map-marker", class:"mr-1"%></strong> Ingenieros Ramos Ruiz N° 528, Barrio Ameghino Nuevo, Km 3
          <div class="mb-3"></div>
          <strong>Servicio Prevalentes Hospital Regional CR</strong><br>
          <strong><%=fa_icon "phone"%></strong> 297 444222 int. 162 <br>
          <strong><%=fa_icon "map-marker", class:"mr-1"%></strong> Av. Irigoyen N° 950. Comodoro Rivadavia
          <div class="mb-3"></div>
          <strong>Servicio de Prevalentes Hospital Alvear CR</strong><br>
          <strong><%=fa_icon "phone"%></strong> 297 4559950/1 int. 101 <br>
          <strong><%=fa_icon "map-marker", class:"mr-1"%></strong> Ramón Lista s/n Barrio General Mosconi
          <div class="mb-3"></div>
          <strong>Laboratorio Central Hospital Regional</strong><br>
          <strong><%=fa_icon "phone"%></strong> 297 4471350/4442284 <br>
          <strong><%=fa_icon "map-marker", class:"mr-1"%></strong> Av. Irigoyen N° 950. Comodoro Rivadavia
          <div class="mb-3"></div>
          <strong>Laboratorio Central Hospital Alvear</strong><br>
          <strong><%=fa_icon "phone"%></strong> 297 4559937/4559951 <br>
          <strong><%=fa_icon "map-marker", class:"mr-1"%></strong> Ramón Lista s/n Barrio General Mosconi
          <div class="mb-3"></div>
          <strong>Servicio de Adolescencia (CESIA) Casita verde</strong><br>
          <strong><%=fa_icon "phone"%></strong> 297 4445329 <br>
          <strong><%=fa_icon "map-marker", class:"mr-1"%></strong> San Martin esq. Saavedra, Comodoro Rivadavia
          <div class="mb-3"></div>
          <strong>Secretaria de Salud Municipalidad de Comodoro Rivadavia</strong><br>
          <strong><%=fa_icon "phone"%></strong> 297 4461153 <br>
          <strong><%=fa_icon "map-marker", class:"mr-1"%></strong> Sarmiento N° 680
        </div>
        <div class="col-md-6">
          <h3 class="mb-4 text-primary">Puerto Madryn</h3>
          <strong>Servicio de Adolescencia, CESIA Dr. Pozzi</strong><br>
          <strong><%=fa_icon "phone"%></strong> 280 4451387 <br>
          <strong><%=fa_icon "map-marker", class:"mr-1"%></strong> Juan Acosta esq. A. Pujol
          <div class="mb-3"></div>
          <strong>Laboratorio Central, Hospital Andrés Isola</strong><br>
          <strong><%=fa_icon "phone"%></strong> 280 4911066 <br>
          <strong><%=fa_icon "map-marker", class:"mr-1"%></strong> Roberto Gómez N° 383, Puerto Madryn
          <div class="mb-3"></div>
          <hr>
          <h3 class="mb-4 text-primary">Rawson</h3>
          <strong>Dispositivo de Salud Sexual y Diversidad</strong><br>
          <strong><%=fa_icon "phone"%></strong> 280 4853994<br>
          <strong><%=fa_icon "map-marker", class:"mr-1"%></strong> J.A. Roca 534, Rawson
          <div class="mb-3"></div>
          <strong>Laboratorio Central Hospital Santa Teresita</strong><br>
          <strong><%=fa_icon "phone"%></strong> 280 4481819<br>
          <strong><%=fa_icon "map-marker", class:"mr-1"%></strong> J. A. Roca N° 545. Rawson
          <div class="mb-3"></div>
          <strong>Servicio de Adolescencia (CESIA)</strong><br>
          <strong><%=fa_icon "phone"%></strong> 280 4532167 <br>
          <strong><%=fa_icon "map-marker", class:"mr-1"%></strong> J.A. Roca 534, Rawson
        </div>
      </div>
  </div>
</div>