
<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-md-12 mb-4">
			<h1>Covid-19</h1>
		</div>
		<div class="col-md-12">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">


      		<a href="/covid_current.pdf" target = "_blank"class="panel panel-default">
		        <div class="panel-body">
		          <div class="media">
		            <div class="media-body">
		              <h3 class="mb-0">Parte Diario PDF <%=fa_icon "download"%></h3>
		            </div>
		          </div>
		        </div>
      		</a>
	    	</div>
		    <div class="col-xs-12 col-sm-6 col-md-6">
		      <a href="https://www.argentina.gob.ar/salud/coronavirus-COVID-19/sala-situacion" target = "_blank"class="panel panel-default">
		        <div class="panel-body">
		          <div class="media">
		            <div class="media-body">
		              <h3 class="mb-0">Situación Nacional <%=fa_icon "flag"%></h3>
		            </div>
		          </div>
		        </div>
		      </a>
		    </div>
	    </div>
		</div>

		<div class="col-md-12">
			<div class="panel-pane pane-atajos">
		    <div class="pane-content">
		      <div class="row panels-row mt-2 justify-content-md-around">
		        <div class="col-xs-12 col-sm-6 col-md-4">
		          <a href="/covid_current" class="panel panel-default panel-icon panel-naranja">
		            <div class="panel-heading icon-fix">
		              <%=fa_icon "bar-chart"%>
		            </div>
		            <div class="panel-body">
		              <h3>Situación Provincial</h3>
		            </div>
		          </a>
		        </div>
		        <div class="col-xs-12 col-sm-6 col-md-4">
		          <a href="/vacunacion_covid" class="panel panel-default panel-icon panel-verde-cemento">
		            <div class="panel-heading icon-fix">
	              	<%= image_tag "icono_vacuna.png", style:"height: 100%;"%>
		            </div>
		            <div class="panel-body">
		              <h3>Vacunas Covid</h3>
		            </div>
		          </a>
		        </div>
		        <%# <div class="col-xs-12 col-sm-6 col-md-4">
		          <a href="/salud/mosquitos" class="panel panel-default panel-icon panel-lavanda">
		            <div class="panel-heading icon-fix">
		              <%=fa_icon "user-md"%>
		            <%# </div>
		            <div class="panel-body">
		              <h3>Equipos de Salud</h3>
		            </div>
		          </a> %>
		        <%# </div> %>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="col-md-8 mb-4">
			<div class="panel-pane pane-alerta">
				<div class="pane-content">
					<div class="alert alert-primary mb-0" role="alert">
						<div class="media">
							<div class="media-body">
								<div class="margin-0">
									<p>Considerando la situación epidemiológica, sanitaria y los avances de la campaña de vacunación, se establecen, a través del <a href="https://www.boletinoficial.gob.ar/detalleAviso/primera/255070/20211224" target="_blank" rel="noreferrer">Decreto 867/2021</a> y hasta el 31 de diciembre de 2022, medidas preventivas generales con el fin de proteger la salud pública en todo el territorio nacional.</p>
									<p><a href="https://www.argentina.gob.ar/salud/coronavirus/medidas-prevencion" title="" class="btn btn-primary mt-1 mr-2">Medidas Preventivas Generales</a> <a href="https://www.argentina.gob.ar/pasesanitario" title="" class="btn btn-primary btn mt-1">Pase sanitario nacional 2022</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<%# <div class="col-12">
			<h2>Acerca del nuevo coronavirus COVID-19</h2>
			
			<strong>¿Qué es un coronavirus? ¿Qué es el SARS-CoV2? ¿Qué es COVID-19?</strong>

			<p>Los coronavirus son una familia de virus que pueden causar enfermedades en animales y en humanos. En los seres humanos pueden provocar infecciones respiratorias que van desde un resfrío común hasta enfermedades más graves, como el síndrome respiratorio de Medio Oriente (MERS) y el síndrome respiratorio agudo severo (SRAS-SARS).</p>

			<p>Actualmente nos encontramos ante una pandemia (epidemia que se propaga a escala mundial) por un nuevo coronavirus, SARS-CoV-2, que fue descubierto recientemente y causa la enfermedad por coronavirus COVID-19.</p>

			<strong>¿Cómo se transmite el virus?</strong>

			<p>Se transmite de una persona a otra a través de las gotas procedentes de la nariz o la boca que salen despedidas cuando la persona con el virus tose, estornuda o habla. Otra posibilidad es por contacto con manos, superficies u objetos contaminados. Por eso es importante mantener distanciamiento social y tomar las precauciones de contacto que se describen más abajo.</p>

			<strong>¿Se puede tratar el COVID-19?</strong>

			<p>Las infecciones causadas por nuevos coronavirus no tienen tratamiento específico, aunque sí se pueden tratar los síntomas que provoca. El tratamiento de los síntomas va a depender del estado clínico de cada persona.</p>

			<strong>¿Hay personas que presentan más riesgos si se contagian?</strong>

			<p>Sí. Las personas mayores de 60, las que tienen enfermedades respiratorias o cardiovasculares y las que tienen afecciones como diabetes presentan mayores riesgos en caso de contagio.</p>

			<p>Consultá más información en la sección: <a href="https://www.argentina.gob.ar/salud/coronavirus/poblacion/mayores" target="_blank" rel="noreferrer">Mayores de 60 años, embarazadas y personas con patologías crónicas</a></p>

			<strong>¿Cuánto dura el periodo de incubación del COVID-19?</strong>

			<p>El “período de incubación” es el tiempo que transcurre entre la infección por el virus y la aparición de los síntomas de la enfermedad, que según los datos disponibles oscila entre 1 y 14 días, y en promedio alrededor de 6 días. A modo de comparación, el período de incubación de la gripe es 2 días en promedio y oscila entre 1 y 7. Por esta razón se les pide a las personas que podrían haber estado en contacto con un caso confirmado que se aíslen por 14 días.</p>		
		</div> %>
	</div>
		<p>
			Mientras llevamos adelante la campaña de vacunación contra la COVID-19, es importante que nos sigamos cuidando con el fin de disminuir la 
			transmisión del virus y el impacto de la segunda ola en nuestra provincia.
		</p>

		<h2>Seamos responsables y pongamos en práctica estas medidas de cuidado:</h2>
		<ul>
			<li>Uso adecuado de barbijo o tapaboca-nariz.</li>
			<li>Lavado de manos frecuente y apropiado.</li>
			<li>Mantenimiento de una distancia ideal de dos metros.</li>
			<li>Evitar espacios cerrados y ventilar los ambientes.</li>

			<li>Evitar tocarse ojos, nariz y boca.</li>
			<li>No compartir mate, vasos, cubiertos ni otros elementos personales.</li>
			<li>Toser o estornudar sobre el pliegue del codo, o utilizando pañuelos descartables.</li>
			<li>
				Evitar salir de casa si se presentan síntomas relacionados a infecciones respiratorias, o concurrir a lugares públicos (ej., ámbito laboral, 
				eventos sociales,lugares de gran afluencia de personas).
			</li>
			<li>Desinfectar superficies y objetos regularmente.</li>
		</ul>

		<strong>Aislamiento contacto estrecho asintomático:</strong>
		<ul>
			<li>Sin vacunación completa: 7 días</li>
			<li>Con vacunación completa: sin aislamiento</li>
			<li>Con antecedente de infección por COVID19 en los últimos 90 días: sin aislamiento</li>
		</ul>

		<strong>Aislamiento caso confirmado:</strong>
		<ul>
			<li>Con esquema de vacunación completo: 7 días + 3 días de cuidados*</li>
			<li>Con esquema de vacunación incompleto: 10 días</li>
		</ul>
		<p>
			*Uso adecuado de barbijo, no concurrir a eventos masivos o sociales, extremar cuidados ante el contacto con personas de riesgo. <br>
			*Al día 8 se puede retomar la actividad laboral.
		</p>

		<strong>¿Quiénes se tienen que hacer tests de diagnóstico?</strong>
		<ol>
			<li>Casos con indicación de hospitalización por síntomas respiratorios.</li>
			<li>
				Casos sospechosos de los grupos de riesgo: <br>
				<ul>
					<li>Más de 60 años con vacunación incompleta.</li>
					<li>Diabéticos tipo 1 y 2.</li>
					<li>Con obesidad.</li>
					<li>Pacientes oncológicos.</li>
					<li>Inmunocomprometidos.</li>
					<li>Personas con VIH.</li>
					<li>Con insuficiencia renal crónica.</li>
					<li>Embarazadas.</li>
				</ul>
			</li>
		</ol>
		<p>
			Los casos sospechosos que no pertenezcan a estos grupos se confirmarán sin la necesidad de un método de diagnóstico. 
		</p>
	
</div>

