<div class="container">
  <div class="panel-pane pane-atajos">
    <div class="pane-content">
      <div class="row panels-row mt-2 justify-content-md-center ">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <a href="/vacunacion" class="panel panel-default panel-icon panel-lavanda">
            <div class="panel-heading icon-fix">
              <%=fa_icon "calendar"%>
            </div>
            <div class="panel-body">
              <h3>Calendario de Vacunación</h3>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <a href="/verano" class="panel panel-default panel-icon panel-naranja">
            <div class="panel-heading icon-fix">
              <%=fa_icon "sun-o"%>
            </div>
            <div class="panel-body">
              <h3>Cuidados en el verano</h3>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <a href="/cud_certificate" class="panel panel-default panel-icon panel-violeta-rojo">
            <div class="panel-heading icon-fix">
              <%=fa_icon "universal-access"%>
            </div>
            <div class="panel-body">
              <h3>Certificado Único de Discapacidad (CUD)</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="row panels-row mt-2 justify-content-md-center ">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <a href="/hantavirus" class="panel panel-default panel-icon panel-verde-cemento">
            <div class="panel-heading icon-fix">
              <%= image_tag "icono_hanta.png", class:"h-100"%>
            </div>
            <div class="panel-body">
              <h3>Hantavirus</h3>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <a href="/vih_its" class="panel panel-default panel-icon panel-oscuro-khaki">
            <div class="panel-heading icon-fix">
              <%= image_tag "icono_hiv.png", class:"h-100"%>
            </div>
            <div class="panel-body">
              <h3>VIH - ITS</h3>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <a href="/busqueda_laboral" class="panel panel-default panel-icon panel-oscuro-cyan">
            <div class="panel-heading icon-fix">
              <%= image_tag "icono_convocatoria.png", class:"h-100"%>
            </div>
            <div class="panel-body">
              <h3>Convocatoria de Médicos</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>